@using eDostava.Data.Models
@using eDostava.Web.ViewModels

@model BlokPrikazVM
<table class="table table-striped">
    <thead>
        <tr>
            <td>
                Svi blokovi
            </td>
        </tr>
        <tr>
            <td>#</td>
            <td>Naziv</td>
            <td>Ukupno naručioca</td>
            <td>Grad</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Blokovi)
        {
            <tr>
                <td>@x.BlokId</td>
                <td>@x.Naziv</td>
                <td>@x.BrojNarucioca</td>
                <td>@x.Grad.Naziv</td>
                <td>
                    <a asp-action="Uredi" asp-route-blokId="@x.BlokId" ajax-poziv="da" ajax-rezultat="ajax-stavke-wrap" class="btn btn-info">Uredi</a>
                    <a asp-action="Obrisi" asp-route-blokId="@x.BlokId" ajax-poziv="da" ajax-rezultat="ajax-stavke-wrap" class="btn btn-danger">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Dodaj" asp-route-gradId="@Model.GradId" ajax-rezultat="ajax-stavke-wrap" class="btn btn-default" ajax-poziv="da">Dodaj</a>
