@using eDostava.Data.Models
@using eDostava.Web.ViewModels

@model GradPrikazVM
<h2>Gradovi</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>
                Svi gradovi
            </td>
        </tr>
        <tr>
            <td>#</td>
            <td>Naziv</td>
            <td>Poštanski Broj</td>
            <td>Ukupno naručioca</td>
            <td>Settings</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>@x.GradId</td>
                <td>@x.Naziv</td>
                <td>@x.PostanskiBroj</td>
                <td>@x.UkupnoNarucioca</td>
                <td>
                    <a asp-action="Index" asp-controller="Narucilac" asp-route-GradId="@x.GradId" class="btn btn-warning">Svi naručioci</a>
                    <a asp-action="Uredi" asp-controller="Grad" asp-route-id="@x.GradId" class="btn btn-info">Uredi</a>
                    <a asp-action="Obrisi" asp-controller="Grad" asp-route-id="@x.GradId" class="btn btn-danger">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Grad/Dodaj" class="btn btn-info">Dodaj</a>

