@using Microsoft.AspNetCore.Http
@using KorpaSessionExtensions

@{ 
    string trenutnoLogiran = Context.Session.GetString("trenutnoLogiran");
    string logiranKao = Context.Session.GetString("logiranKao");

    bool? _jeNarucilac = Context.Session.JeNarucilac();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    @RenderSection("Styles", false)
    <environment include="Development, Production">
        <!-- jQuery -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

        <!-- Custom Bootstrap (?) -->
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/mybootstrap.min.css" /> -->

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- Fontawesome Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
              crossorigin="anonymous">

        <!-- Alertify popups -->
        <link rel="stylesheet" href="~/lib/alertify.js/dist/css/alertify.css" />


        <!-- Custom CSS -->
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />

        <!-- Custom JS -->
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/ajax.js"></script>
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Logged: @logiranKao - @trenutnoLogiran </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Restorani">Restorani</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Korisnik">Moj Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Grad">Gradovi</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Login" class="nav-link" style="color:red;margin-right:5px">Logout</a>
                </li>
            </ul>
            
            <form asp-action="Index" asp-controller="Restorani" method="get" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" id="searchString" name="searchString" size="48"  placeholder="Pretraga restorana po nazivu,opisu ili lokaciji." >
                
                <button  class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @{
            var home = ViewBag.IsHome;
        }
        @if(home == true) {
            @Html.Partial("../Shared/Partials/BigHeader.cshtml")
        }
        else
        {
            @Html.Partial("../Shared/Partials/SmallHeader.cshtml")
        }
        <div class="container">
            <div class="row">
                @if (_jeNarucilac == true)
                {
                    <div class="col-sm-12 col-md-9">
                        @RenderBody()
                    </div>
                    <div class="korpa-outer-wrap col-sm-12 col-md-3">

                        <div id="korpa" class="korpa-main-wrap panel" data-smart-affix>
                            @await Component.InvokeAsync("Korpa")
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12 col-md-12">
                        @RenderBody()
                    </div>
                }
            </div>
        </div>
        <hr />
        <footer></footer>
    <script src="~/lib/alertify.js/dist/js/alertify.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
