@using eDostava.Web.ViewModels
@using eDostava.Web.Helper

@{
    ViewData["Title"] = "Index";
}

@model KorpaPrikazVM
<div class="korpa-main-wrap panel" data-smart-affix>
    <div class="panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Moja narudžba</h3>
        </div>
        <div class="panel-body">
            <div class="korpa-top">
                <p>@Model.Narudzba.Status.GetDisplay()</p>
            </div>
            <div class="korpa-stavke">
                @foreach (var x in Model.Stavke)
            {
                    <div class="korpa-stavka">
                        <div class="stavka-main">@x.Kolicina  x @x.Naziv</div>
                        <div class="stavka-detalji">Cijena: @x.Cijena KM</div>
                    </div>
                }
            </div>
            <div class="korpa-sum">
                <p><span>Kupon: </span>@(Model.Narudzba.GetKuponOpis)</p>
                <p><span>Ukupno: </span>@Model.Narudzba.UkupnaCijena KM</p>
                <div class="btn btn-sm btn-danger btn-main-1 full-width">Naruči</div>
            </div>
            <div class="korpa-details">
                <p><span>Sifra: </span>@Model.Narudzba.Sifra</p>
            </div>
        </div>
    </div>
</div>