@using eDostava.Web.ViewModels
@using eDostava.Web.Helper

@model KorpaPrikazVM
<div class="panel-default rounded border">
    <div class="panel-heading py-2 px-3">
        <h5 class="panel-title">Moja narudžba</h5>
        @if (Model.Stavke.Count > 0)
        {
            <a asp-controller="Korpa"
               asp-action="Odbaci"
               ajax-poziv="da"
               ajax-rezultat="korpa"
               class="korpa-delete-all my-2 mx-3 btn btn-sm btn-main-color-1">
                <i class="fa fa-trash-alt"></i>
            </a>
        }
    </div>
    <div class="panel-body py-2 px-3">
        <div class="korpa-top">
            <p>@Model.Narudzba.Status.GetDisplay()</p>
        </div>
        <div class="korpa-stavke px-2">
            @foreach (var x in Model.Stavke)
            {
                <div class="korpa-stavka py-2 d-flex flex-column">
                    <div class="stavka-main d-flex align-items-center">
                        <span>@x.Kolicina  x @x.Naziv</span>
                        <a asp-action="Ukloni"
                            asp-controller="Korpa"
                            asp-route-id="@x.ProizvodID"
                            ajax-poziv="ajaxDa"
                            ajax-rezultat="korpa"
                            class="btn-main-color-1 btn-stavka-ukloni rounded-circle float-right ml-auto d-flex justify-content-center align-items-center"><i class="fas fa-times"></i></a>
                    </div>
                    <div class="stavka-detalji small text-secondary">Cijena: @x.Cijena KM</div>
                </div>
            }
        </div>
        <div class="korpa-sum">
            <p><span>Ukupno: </span>@Model.Narudzba.UkupnaCijena KM</p>
            <a class="btn btn-sm btn-main-color-1 full-width
                @if (Model.Narudzba.Status != eDostava.Data.Models.Stanje.Aktivna)
                {
                    @:disabled
                } "
                asp-action="Naruci"
                asp-controller="Korpa"
                ajax-poziv="ajaxDa"
                ajax-rezultat="korpa"
                data-alertify
                data-alertify-goto-url="/KorisnikModul/Korisnik?narudzbe=true"
                data-alertify-text="Narudžba isporučena!"
                data-alertify-btn-pre-text="Pogledajte detalje vaše narudžbe:"
                data-alertify-btn-text="Detalji">Naruči</a>
        </div>
        <div class="korpa-details  text-secondary">
            <p><span>Sifra: </span>@Model.Narudzba.Sifra</p>
        </div>
    </div>
</div>