@using eDostava.Web.ViewModels
@using eDostava.Data.Models

@model  VlasnikPrikazVM

<h2>Vlasnici</h2>
<table class="table table-striped">
    <thead>
        <tr><td>Svi vlasnici</td></tr>
        <tr>
            <td>#</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Email</td>
            <td>Username</td>
            <td>Password</td>
            <td>Datum kreiranja</td>
            <td>Restorani</td>
            <td>Ukupno restorana</td>
            <td>Opcije</td>
        </tr>
    </thead>
    <tbody>
        @foreach (VlasnikPrikazVM.VlasnikInfo x in Model.Vlasnici)
        {
            <tr>
                <td>@x.VlasnikId</td>
                <td>@x.Ime</td>
                <td>@x.Prezime</td>
                <td>@x.Email</td>
                <td>@x.Username</td>
                <td>@x.Password</td>
                <td>@x.DatumKreiranja</td>
                <td>
                    @foreach (Restoran y in x.Restorani)
                    {
                        <a asp-action="Jelovnik" asp-controller="Restoran" asp-route-restoranid="@y.RestoranID" class="badge badge-danger">
                            @y.Naziv
                        </a>
                    }
                </td>
                <td>@x.UkupnoRestorana</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Uredi" asp-route-Id="@x.VlasnikId" class="btn btn-secondary">Uredi</a>
                        <a asp-action="Obrisi" asp-route-Id="@x.VlasnikId" class="btn btn-secondary">Obrisi</a>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
<a asp-action="Dodaj" class="btn btn-info">Dodaj</a>
