@model eDostava.Web.ViewModels.HranaIndexVM
@using KorpaSessionExtensions

@{
    bool? _jeNarucilac = Context.Session.JeNarucilac();
}

<br />
<div id="jelovnikAjax@(Model.DivID)">
    <table class="table table-hover" style="font-size:120%">
        <tr class="table-dark">
            <th scope="col">Naziv</th>
            <th scope="col">Opis</th>
            <th scope="col">Cijena</th>
            <th scope="col">Prilog</th>
            <th scope="col">Akcija</th>
        </tr>

        @foreach (var x in Model.Rows)
        {
            <tr class="table-success">

                <th scope="row">@x.Naziv</th>
                <td>@x.opis</td>
                <td>@x.cijena KM</td>
                <td>@x.prilog</td>
                <td>
                    @if (Model.jeLogiranVlasnikRestorana)
                    {
                        <a asp-action="UrediProizvod" ajax-poziv="da" ajax-rezultat="jelovnikAjax@(Model.DivID)" asp-route-divid="@Model.DivID" asp-route-proizvodid="@x.HranaID" asp-route-jelovnikid="@Model.jelovnikID" class="btn btn-info">Uredi</a>
                        <a asp-action="ObrisiProizvod" ajax-poziv="da" ajax-rezultat="jelovnikAjax@(Model.DivID)" asp-route-proizvodid="@x.HranaID" asp-route-jelovnikid="@Model.jelovnikID" class="btn btn-warning">Ukloni</a>
                    }
                    @if (_jeNarucilac == true)
                    {
                        <a asp-action="Dodaj" asp-controller="Korpa" asp-route-id="@x.HranaID" ajax-poziv="ajaxDa" ajax-rezultat="korpa" class="btn btn-info">Dodaj u Korpu</a>
                    }
                </td>
            </tr>
        }
    </table>

    @if (Model.jeLogiranVlasnikRestorana)
    {
        <a asp-action="DodajProizvod" asp-route-jelovnikid="@Model.jelovnikID" asp-route-divid="@Model.DivID" ajax-poziv="da" ajax-rezultat="jelovnikAjax@(Model.DivID)" class="btn btn-warning">Dodaj proizvod &raquo;</a>
    }
</div>
