@model eDostava.Data.Models.Narudzba

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Narudzba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sifra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sifra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumVrijeme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumVrijeme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UkupnaCijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UkupnaCijena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NarucilacID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NarucilacID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kupon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kupon.KuponID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NarudzbaID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
