@model eDostava.Data.Models.Narudzba

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Narudzba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sifra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sifra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumVrijeme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumVrijeme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UkupnaCijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UkupnaCijena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NarucilacID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NarucilacID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kupon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kupon.KuponID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NarudzbaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
